body {
    font-family: 'Roboto Slab', serif;
}

.border-bottom-1 {
    border-bottom: 1px solid rgba(41, 41, 41) ;

}

.border-bottom-2 {
    border-bottom: 1px solid rgb(206, 206, 206) ;

}


.font-1 {
    font-weight:400;
}

.font-2 {
    font-size: 24px;
    color: #292929;
    font-weight: 400;
}

.in-yazi {
    font-size:small;
}

.in-yazi-2 {
    font-size: 16px;
    font-weight: bolder;
}

.aside-button > li {
   margin-bottom: 10px;
}